*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header{
 height: 400px;
 background-color: rgb(12, 12, 151);
}

.headtop {
   height: 30px;
   background-color: aqua;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 30px;
    width: 70%;
    margin: auto;
    
}

.logo{
text-align: left;
padding-top: 3px;
padding-left: 5px;
}

.login{
text-align: right;
padding-top: 3px;
padding-right: 5px;
}

.menu {
    text-align: center;
    padding-top: 3px;
}

section{
    width: calc(100% / 3);
}


/*regole di debug inizio*/

header{
    

}

nav{
    background-color: orange;
    border: 1px dashed black;
}

.logo {
    border: 1px dashed black;
    
}
 
.menu {
    border: 1px dashed black;
}

.login {
    border: 1px dashed black;
}



/*regole di debug