*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.body {
    font-family: Whitney, 'Helvetica Neue', Helvetica, Arial, sans-serif;

}

/*inizio header */

header{
 height: 580px;
 background-color: lightblue;
}

.headtop {
   height: 80px;
   display: flex;
   max-width: 700px;
   margin: auto;
   align-items: center;
}

header .headtop >div {
    background-color: gold;
    padding: 10px;
}

header .logo-column, header .login-column {
    width: 20%;
}

header .menu-column {
    width: 60%;
}

header .menu-column ul {
    display: flex;
    list-style: none;
    justify-content: center;
}

li {
    padding: 0px 5px;
}

.login-column{
    text-align: right;
}

#jambutron {
    display: flex;
    justify-content: center;
    height: 497px;
    padding: 50px;
}

#jambutron .content {
    height: 100%;
    background-color: violet;
    border: 1px dashed black;
    width: 50%;
}

/*fine header*/

/* inizio main */

main .section {
display: flex;
}

.section-container {
    max-width: 700px;
    margin: auto;
    display: flex;
}

.big col {
    width: 60%;
    height: 100%;
}

.small col {

}



.green{
    height: 450px;
    width: 80%;
    border: 1px dashed black;
    margin: auto;

}

footer{
    margin: 0 auto;
    width: 800px;
    height: 400px;
}

.footertop{
    flex-direction: row;
    align-items: stretch;
    height: 80%;
    border-bottom:  2px solid grey;
}

.firstbox, .secondbox {
    height: 300px ;
    width: 150px;
}

.firstbox{
    height: 300px ;
    width: 300px;
}

.footercontainer{
    display: flex;
    padding-top: 5px;
    width: 500px;
    margin: auto;
}


.footerbasscontainer{
    display: flex;
    justify-content: space-between;
    height: 20px;
    font-weight: 70%;
    padding-top: px;
}



/*regole di debug inizio*/

/*debug header*/
.debug .logo-column,.menu-column, .login-column {
    border: 1px dashed black;
}

.debug #jambutron {
    background-color: darkblue;
}

/*debug main*/

.debug main section {
    height: 400px;
}
.grey {
    background-color: lightgray;
}

.debug main section:last-child {
    height: 800px;
}





/*inizio footer*/

.debug .logofinale, .bottomfinale {
    background-color: pink;
    border: 1px dashed black;
}

.debug .footerbasscontainer{
    background-color: aquamarine;
}

/*regole di debug fine